@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --primary-color: #583d72;
  --secondary-color: #ff8474;
  --light-color: #f8e0ca;
  --dark-footer: #21132e;
  --off-white: #ffc996;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--light-color);
}
strong {
  font-weight: 700;
}

hr {
  margin: 1.2rem 0;
}

h1,
h2 {
  padding: 1rem 0;
}
/*container*/
.container {
  padding: 0 1rem;
}

.container-center {
  max-width: 1000px;
  margin: auto;
}

/*Links*/
.link {
  text-decoration: none;
  padding: 0.7rem 1rem;
}

.link-primary {
  margin-top: 1rem;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 0.4rem;
  border: 2px solid var(--primary-color);
}
.link-primary:hover {
  color: var(--primary-color);
  border-radius: 0.4rem;
  border: 2px solid var(--primary-color);
  background: transparent;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.4rem;
  border: 2px solid var(--primary-color);
}
.link-secondary:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 0.4rem;
}

/*List*/
.list-non-bullet {
  list-style-type: none;
}

.list-item-inline {
  display: inline;
  padding: 0 0.5rem;
}

/*navigation*/
.navigation {
  margin: 0;
  background-color: var(--primary-color);
  padding: 0.8rem 2rem;
  border-bottom-left-radius: 5rem;
}
.nav-brand {
  color: var(--light-color);
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
}
.navigation .nav-pills {
  text-align: right;
}
.navigation .link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.navigation .link-active {
  font-weight: bold;
  color: var(--light-color);
}

.navigation a:hover {
  color: var(--off-white);
}

/* header */
.hero {
  padding: 2rem 0;
  text-align: center;
}
.hero .hero-img {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.hero .hero-heading {
  color: var(--dark-grey);
}

.hero-heading span {
  color: var(--primary-color);
}

/* section */
.section {
  padding: 4rem 2rem;
  text-align: center;
}

.section-off-white {
  background-color: var(--off-white);
}
.section p {
  margin-bottom: 2rem;
}
/*footer*/
.footer {
  text-align: center;
  background-color: var(--dark-footer);
  color: var(--light-color);
  padding: 1rem 1rem;
  border-top-right-radius: 3rem;
  font-size: 0.7rem;
}
.footer ul {
  margin: 0.5rem 1rem;
}

.footer li .social:hover {
  filter: opacity(0.5);
}
