@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --primary-color: #03045e;
  --secondary-color: #00b4db;
  --light-color: #caf0f8;
  --dark-grey: #687280;
  --off-white: #cdd1d6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
strong {
  font-weight: 700;
}

hr {
  margin: 1.2rem 0;
}

h1,
h2 {
  padding: 1rem 0;
}
/*container*/
.container {
  padding: 0 1rem;
}

.container-center {
  max-width: 800px;
  margin: auto;
}

/*Links*/
.link {
  text-decoration: none;
  padding: 0.7rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 0.4rem;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.4rem;
  border: 1px solid var(--primary-color);
}

/*List*/
.list-non-bullet {
  list-style-type: none;
}

.list-item-inline {
  display: inline;
  padding: 0 0.5rem;
}

/*navigation*/
.navigation {
  margin: 0;
  background-color: var(--primary-color);
  padding: 0.2rem 0.5rem;
  border-bottom-left-radius: 5rem;
}
.nav-brand {
  color: var(--light-color);
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
}
.navigation .nav-pills {
  text-align: right;
}
.navigation .link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.navigation .link-active {
  font-weight: bold;
  color: var(--light-color);
}

.navigation a:hover {
  color: #00b4db;
}

/* header */
.hero {
  padding: 2rem 0;
  text-align: center;
}
.hero .hero-img {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.hero .hero-heading {
  color: var(--dark-grey);
}

/* section */
.section {
  padding: 2rem;
  text-align: center;
}

.section-off-white {
  background-color: var(--off-white);
}
/*footer*/
.footer {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 2rem 1rem;
  border-top-right-radius: 3rem;
}
.footer li a {
  color: #ffffff;
}
